# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
#opcionales, meterlos hasta produccion.
node_modules
READMEVite.md
package-lock.json
package.json
tsconfig.json
tsconfig.node.json
vite.config.ts
.eslintrc.cjs
#opcionales, meterlos hasta produccion.

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
